version: "3.9"

services:
  backend:
    build: ./backend
    container_name: seat-backend
    ports:
      - "4000:4000"
    environment:
      - PORT=4000
      - MONGO_URI=mongodb://mongo:27017/seatsdb
    depends_on:
      - mongo
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: seat-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    restart: unless-stopped

  mongo:
    image: mongo:7
    container_name: seat-mongo
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"
    restart: unless-stopped

volumes:
  mongo_data:
